In [54]:
import pandas as pd
import numpy as np

# 1. Preprocess datasets separately

In [55]:
def get_country_codes(df, column_country_name):
    # Import country codes
    df_country_codes = pd.DataFrame({'ISO': list(country_codes_dict.values()), 'Country': list(country_codes_dict.keys())})

    # Merge the country codes with the dataframe
    df = pd.merge(df, df_country_codes, left_on=column_country_name, right_on="Country", how="left")

    return df


country_codes_dict = {
    'Afghanistan': 'AFG',
    'Albania': 'ALB',
    'Algeria': 'DZA',
    'Andorra': 'AND',
    'Angola': 'AGO',
    'Antigua and Barbuda': 'ATG',
    'Argentina': 'ARG',
    'Armenia': 'ARM',
    'Australia': 'AUS',
    'Austria': 'AUT',
    'Azerbaijan': 'AZE',
    'Bahamas': 'BHS',
    'Bahrain': 'BHR',
    'Bangladesh': 'BGD',
    'Barbados': 'BRB',
    'Belarus': 'BLR',
    'Belgium': 'BEL',
    'Belize': 'BLZ',
    'Benin': 'BEN',
    'Bhutan': 'BTN',
    'Bolivia': 'BOL',
    'Bosnia and Herzegovina': 'BIH',
    'Botswana': 'BWA',
    'Brazil': 'BRA',
    'Brunei': 'BRN',
    'Bulgaria': 'BGR',
    'Burkina Faso': 'BFA',
    'Burundi': 'BDI',
    'Cabo Verde': 'CPV',
    'Cambodia': 'KHM',
    'Cameroon': 'CMR',
    'Canada': 'CAN',
    'Central African Republic': 'CAF',
    'Chad': 'TCD',
    'Chile': 'CHL',
    'China': 'CHN',
    'Colombia': 'COL',
    'Comoros': 'COM',
    'Congo': 'COG',
    'Costa Rica': 'CRI',
    'Croatia': 'HRV',
    'Cuba': 'CUB',
    'Cyprus': 'CYP',
    'Czech Republic': 'CZE',
    'Democratic Republic of the Congo': 'COD',
    'Denmark': 'DNK',
    'Djibouti': 'DJI',
    'Dominica': 'DMA',
    'Dominican Republic': 'DOM',
    'Ecuador': 'ECU',
    'Egypt': 'EGY',
    'El Salvador': 'SLV',
    'Equatorial Guinea': 'GNQ',
    'Eritrea': 'ERI',
    'Estonia': 'EST',
    'Eswatini': 'SWZ',
    'Ethiopia': 'ETH',
    'Fiji': 'FJI',
    'Finland': 'FIN',
    'France': 'FRA',
    'Gabon': 'GAB',
    'Gambia': 'GMB',
    'Georgia': 'GEO',
    'Germany': 'DEU',
    'Ghana': 'GHA',
    'Greece': 'GRC',
    'Grenada': 'GRD',
    'Guatemala': 'GTM',
    'Guinea': 'GIN',
    'Guinea-Bissau': 'GNB',
    'Guyana': 'GUY',
    'Haiti': 'HTI',
    'Honduras': 'HND',
    'Hungary': 'HUN',
    'Iceland': 'ISL',
    'India': 'IND',
    'Indonesia': 'IDN',
    'Iran': 'IRN',
    'Iraq': 'IRQ',
    'Ireland': 'IRL',
    'Israel': 'ISR',
    'Italy': 'ITA',
    'Jamaica': 'JAM',
    'Japan': 'JPN',
    'Jordan': 'JOR',
    'Kazakhstan': 'KAZ',
    'Kenya': 'KEN',
    'Kiribati': 'KIR',
    'Kuwait': 'KWT',
    'Kyrgyzstan': 'KGZ',
    'Laos': 'LAO',
    'Latvia': 'LVA',
    'Lebanon': 'LBN',
    'Lesotho': 'LSO',
    'Liberia': 'LBR',
    'Libya': 'LBY',
    'Liechtenstein': 'LIE',
    'Lithuania': 'LTU',
    'Luxembourg': 'LUX',
    'Madagascar': 'MDG',
    'Malawi': 'MWI',
    'Malaysia': 'MYS',
    'Maldives': 'MDV',
    'Mali': 'MLI',
    'Malta': 'MLT',
    'Marshall Islands': 'MHL',
    'Mauritania': 'MRT',
    'Mauritius': 'MUS',
    'Mexico': 'MEX',
    'Micronesia': 'FSM',
    'Moldova': 'MDA',
    'Monaco': 'MCO',
    'Mongolia': 'MNG',
    'Montenegro': 'MNE',
    'Morocco': 'MAR',
    'Mozambique': 'MOZ',
    'Myanmar': 'MMR',
    'Namibia': 'NAM',
    'Nauru': 'NRU',
    'Nepal': 'NPL',
    'Netherlands': 'NLD',
    'New Zealand': 'NZL',
    'Nicaragua': 'NIC',
    'Niger': 'NER',
    'Nigeria': 'NGA',
    'North Korea': 'PRK',
    'North Macedonia': 'MKD',
    'Norway': 'NOR',
    'Oman': 'OMN',
    'Pakistan': 'PAK',
    'Palau': 'PLW',
    'Palestine': 'PSE',
    'Panama': 'PAN',
    'Papua New Guinea': 'PNG',
    'Paraguay': 'PRY',
    'Peru': 'PER',
    'Philippines': 'PHL',
    'Poland': 'POL',
    'Portugal': 'PRT',
    'Qatar': 'QAT',
    'Romania': 'ROU',
    'Russia': 'RUS',
    'Rwanda': 'RWA',
    'Saint Kitts and Nevis': 'KNA',
    'Saint Lucia': 'LCA',
    'Saint Vincent and the Grenadines': 'VCT',
    'Samoa': 'WSM',
    'San Marino': 'SMR',
    'Sao Tome and Principe': 'STP',
    'Saudi Arabia': 'SAU',
    'Senegal': 'SEN',
    'Serbia': 'SRB',
    'Seychelles': 'SYC',
    'Sierra Leone': 'SLE',
    'Singapore': 'SGP',
    'Slovakia': 'SVK',
    'Slovenia': 'SVN',
    'Solomon Islands': 'SLB',
    'Somalia': 'SOM',
    'South Africa': 'ZAF',
    'South Korea': 'KOR',
    'South Sudan': 'SSD',
    'Spain': 'ESP',
    'Sri Lanka': 'LKA',
    'Sudan': 'SDN',
    'Suriname': 'SUR',
    'Sweden': 'SWE',
    'Switzerland': 'CHE',
    'Syria': 'SYR',
    'Tajikistan': 'TJK',
    'Tanzania': 'TZA',
    'Thailand': 'THA',
    'Timor-Leste': 'TLS',
    'Togo': 'TGO',
    'Tonga': 'TON',
    'Trinidad and Tobago': 'TTO',
    'Tunisia': 'TUN',
    'Turkey': 'TUR',
    'Turkmenistan': 'TKM',
    'Tuvalu': 'TUV',
    'Uganda': 'UGA',
    'Ukraine': 'UKR',
    'United Arab Emirates': 'ARE',
    'United Kingdom': 'GBR',
    'United States': 'USA',
    'Uruguay': 'URY',
    'Uzbekistan': 'UZB',
    'Vanuatu': 'VUT',
    'Vatican City': 'VAT',
    'Venezuela': 'VEN',
    'Vietnam': 'VNM',
    'Yemen': 'YEM',
    'Zambia': 'ZMB',
    'Zimbabwe': 'ZWE'
}

In [56]:
# Import df_crime
df_crime = pd.read_csv("../datasets/world_crime_index.csv")

# Split the City column to a City and a Country column
df_crime[['City', 'Country']] = df_crime['City'].str.split(',', expand=True).drop(2, axis=1)
df_crime["Country"] = df_crime.Country.str.lstrip()

# Get the min, max and avg crime index by country
grouped_df_crime = df_crime.groupby('Country', as_index=False)['Crime Index'].agg(["mean", "min", "max"])
grouped_df_crime.rename(columns={"mean": 'Mean Crime Index', "min": 'Min Crime Index', "max": 'Max Crime Index'}, inplace=True)
grouped_df_crime['RankCrime'] = grouped_df_crime['Mean Crime Index'].rank()
grouped_df_crime = get_country_codes(grouped_df_crime, "Country")

grouped_df_crime.sort_values(by="RankCrime").reset_index().head()

,index,Country,Mean Crime Index,Min Crime Index,Max Crime Index,RankCrime,ISO
0,116,Qatar,13.960,13.96,13.96,1.0,QAT
1,142,United Arab Emirates,14.825,11.67,16.30,2.0,ARE
2,134,Taiwan,15.050,15.05,15.05,3.0,NaN
3,105,Oman,20.540,20.54,20.54,4.0,OMN
4,13,Bahrain,21.060,21.06,21.06,5.0,BHR

In [57]:
# For the visualization
df_life = pd.read_csv("../datasets/life_expectancy_data.csv")
df_life = get_country_codes(df_life, "Country")
df_life = df_life[df_life["Life expectancy "].notna()]


# For the report. We want mean of years after 2010. 
df_life_copy = df_life.drop("Country", axis=1)
df_life_copy = df_life_copy[df_life_copy["Year"] >= 2010]
df_life_copy.drop(['Year'], axis=1, inplace=True)
df_life_copy = df_life_copy.groupby("ISO").mean(numeric_only=True)

df_life_copy.head()

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
ISO,,,,,,,,,,,,,,,,,,,
AFG,60.383333,271.333333,67.666667,0.010000,63.830523,65.333333,1644.166667,17.883333,91.666667,54.500000,8.343333,65.333333,0.1,519.254312,1.255908e+07,17.816667,17.850000,0.465000,9.750000
AGO,51.966667,353.666667,71.166667,8.106000,124.598640,71.500000,4572.833333,18.833333,108.333333,61.833333,3.528000,71.333333,2.3,2847.772762,9.320924e+06,8.700000,8.566667,0.512000,10.483333
ALB,77.033333,71.833333,0.166667,4.943333,352.654915,98.833333,7.833333,56.150000,0.833333,98.833333,5.696667,98.833333,0.1,3687.311108,1.994727e+05,1.300000,1.400000,0.749500,13.766667
ARE,76.616667,66.833333,1.000000,1.780000,1433.248198,96.833333,151.666667,50.766667,1.000000,96.833333,3.642000,96.833333,0.1,17136.804990,NaN,5.166667,4.983333,0.828833,13.300000
ARG,75.933333,83.000000,8.666667,8.164000,779.111083,93.000000,3.833333,52.300000,9.833333,95.166667,5.484000,93.000000,0.1,10943.672712,3.601945e+07,1.000000,0.900000,0.819000,17.166667

In [58]:
# Import happiness
df_happ_2015 = pd.read_csv("../datasets/world_hapiness/2015.csv")
df_happ_2016 = pd.read_csv("../datasets/world_hapiness/2016.csv")
df_happ_2017 = pd.read_csv("../datasets/world_hapiness/2017.csv")
df_happ_2018 = pd.read_csv("../datasets/world_hapiness/2018.csv")
df_happ_2019 = pd.read_csv("../datasets/world_hapiness/2019.csv")

# Add year column
df_happ_2015["Year"] = 2015
df_happ_2016["Year"] = 2016
df_happ_2017["Year"] = 2017
df_happ_2018["Year"] = 2018
df_happ_2019["Year"] = 2019

# Rename the dataframes
df_happ_2017.rename(columns=
                    {    
                        "Happiness.Rank": "Happiness Rank",
                        "Happiness.Score": "Happiness Score",
                        "Whisker.high": "Upper Confidence Interval",
                        "Whisker.low": "Lower Confidence Interval",
                        "Economy..GDP.per.Capita.": "Economy (GDP per Capita)",
                        "Health..Life.Expectancy.": "Health (Life Expectancy)",
                        "Trust..Government.Corruption.": "Trust (Government Corruption)",
                        "Dystopia.Residual": "Dystopia Residual"
                    }, inplace=True)

df_happ_2018.rename(columns=
                    {
                        "Overall rank": "Happiness Rank",
                        "Country or region": "Country",
                        "Score": "Happiness Score",
                        "GDP per capita": "Economy (GDP per Capita)",
                        "Healthy life expectancy": "Health (Life Expectancy)",
                        "Freedom to make life choices": "Freedom",
                        "Perceptions of corruption": "Trust (Government Corruption)"
                    }, inplace=True)

df_happ_2019.rename(columns=
                    {
                        "Overall rank": "Happiness Rank",
                        "Country or region": "Country",
                        "Score": "Happiness Score",
                        "GDP per capita": "Economy (GDP per Capita)",
                        "Healthy life expectancy": "Health (Life Expectancy)",
                        "Freedom to make life choices": "Freedom",
                        "Perceptions of corruption": "Trust (Government Corruption)"
                    }, inplace=True)

# Vertically concatenate the dataframes
df_happ = pd.concat([df_happ_2015, df_happ_2016, df_happ_2017, df_happ_2018, df_happ_2019], ignore_index=True)
df_happ = get_country_codes(df_happ, "Country")
df_happ.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Lower Confidence Interval,Upper Confidence Interval,Social support,ISO
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,CHE
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,ISL
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,DNK
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NOR
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,CAN

In [59]:
# For the final scores, we want df_happ to include mean values of all entries per country. After the year 2010
df_happ.drop(['Year'], axis=1, inplace=True)
df_happ.groupby("ISO").mean(numeric_only=True).head()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Lower Confidence Interval,Upper Confidence Interval,Social support
ISO,,,,,,,,,,,,,
AFG,149.4,3.51280,0.03084,0.357113,0.331588,0.254707,0.117924,0.058094,0.267730,2.082827,3.501169,3.652831,0.5270
AGO,140.0,3.87225,0.04758,0.798380,0.876157,0.133902,0.027433,0.071570,0.105269,1.886154,3.695679,3.965321,1.1250
ALB,106.4,4.71260,0.05013,0.938633,0.703218,0.787696,0.371898,0.043201,0.167887,1.772514,4.540768,4.758232,0.8325
ARE,22.0,6.74420,0.03729,1.645227,1.087767,0.752196,0.538813,0.311982,0.267826,2.065735,6.533976,6.687024,1.0430
ARG,31.2,6.45940,0.04612,1.111035,1.251600,0.760895,0.481620,0.064308,0.092371,2.859952,6.533957,6.715043,1.4500

In [60]:
# Import poverty statistics
df_povstats = pd.read_csv("../datasets/povstats/PovStatsData.csv")
df_povstats = df_povstats[df_povstats["Indicator Code"] == "SI.POV.GINI"]
df_povstats = get_country_codes(df_povstats, "Country Name")

df_povstats.drop(["1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986",
                  "1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999",
                  "2000","2001","2002","2003","2004","2005","2006","2007","2008","2009"], axis=1, inplace=True)

df_povstats = df_povstats.groupby("ISO").mean(numeric_only=True)
df_povstats["notna"] = 9-df_povstats[["2010","2011","2012","2013","2014","2015","2016","2017","2018"]].isnull().sum(axis=1)
df_povstats = df_povstats.fillna(0)
df_povstats["MeanGini"] = (df_povstats["2010"] + df_povstats["2011"] + df_povstats["2012"] + df_povstats["2013"] + df_povstats["2014"] + df_povstats["2015"] + df_povstats["2016"] + df_povstats["2017"] + df_povstats["2018"])/df_povstats["notna"]
df_povstats = df_povstats[df_povstats["MeanGini"] > 0]
df_povstats.drop(["notna"], axis=1, inplace=True)
df_povstats['RankGini'] = df_povstats['MeanGini'].rank()

df_povstats.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 49,MeanGini,RankGini
ISO,,,,,,,,,,,,
ALB,0.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.000000,17.0
ARG,43.0,42.3,41.2,41.0,41.4,0.0,42.4,40.6,0.0,0.0,41.700000,91.0
ARM,30.0,29.4,29.6,30.6,31.5,32.4,32.5,33.6,0.0,0.0,31.200000,24.0
AUS,34.7,0.0,0.0,0.0,35.8,0.0,0.0,0.0,0.0,0.0,35.250000,52.0
AUT,30.3,30.8,30.5,30.8,30.5,30.5,0.0,0.0,0.0,0.0,30.566667,21.0

# 2. Merging datasets

In [61]:
df_combined = pd.merge(df_life_copy, df_happ, on='ISO').merge(df_povstats, on='ISO').merge(grouped_df_crime.reset_index(), on='ISO')

In [62]:
print(f"Overlap of countries {df_combined.ISO.nunique():>16}")
print(f"Life dataset countries: {len(df_life_copy):>13}")
print(f"Happiness dataset countries: {df_happ.ISO.nunique():>8}")
print(f"Poverty dataset countries: {len(df_povstats):>10}")
print(f"Crime dataset countries: {len(df_crime):>12}")

Overlap of countries               79
Life dataset countries:           164
Happiness dataset countries:      153
Poverty dataset countries:        126
Crime dataset countries:          453

# 2.1. Preprocess numerical attributes

In [63]:
# Rename the following columns
rename_cols = {"Health (Life Expectancy)": "Factor health", 
               "Economy (GDP per Capita)": "Factor economy",
               " BMI ": "BMI",
               "Measles ": "Measles",
               " HIV/AIDS": "HIV/AIDS",
               "Life expectancy ": "Life expectancy", 
               "under-five deaths ": "under-five deaths",
               " thinness  1-19 years": "thinness 1-19 years",
               " thinness 5-9 years": "thinness 5-9 years"}

df_combined.rename(columns=rename_cols, inplace=True)


# Remove the following columns due to high factor of missing values
#  polio & diptheria have low factor missing values, but are not interesting.
# to_remove_missing = ["Alcohol", "Hepatitis B", "Polio", "Total expenditure", "Standard Error", "Family", "Dystopia Residual", 
                     # "Lower Confidence Interval", "Upper Confidence Interval", "Social support", "Polio", "Diphtheria "]
to_remove_missing = ["Alcohol", "Hepatitis B", "Polio", "Total expenditure", "Standard Error", "Family", "Dystopia Residual", 
                     "Lower Confidence Interval", "Upper Confidence Interval", "Social support", "Polio", "Diphtheria "]


df_combined.drop(to_remove_missing, inplace=True, axis=1)

# Manually supplement data for
low = {"GDP": 2,
       "Population": 1}
df_combined.loc[df_combined['ISO'] == 'EGY', 'GDP'] = 329.4
df_combined.loc[df_combined['ISO'] == 'IRQ', 'GDP'] = 166.8
df_combined.loc[df_combined['ISO'] == 'EGY', 'Population'] = 97720000.0

In [64]:
# Ensure all numerical attributes are now non-negative and without NaN.
(df_combined.select_dtypes(include=[np.number]) >= 0).all()

Life expectancy                    True
Adult Mortality                    True
infant deaths                      True
percentage expenditure             True
Measles                            True
BMI                                True
under-five deaths                  True
HIV/AIDS                           True
GDP                                True
Population                         True
thinness 1-19 years                True
thinness 5-9 years                 True
Income composition of resources    True
Schooling                          True
Happiness Rank                     True
Happiness Score                    True
Factor economy                     True
Factor health                      True
Freedom                            True
Trust (Government Corruption)      True
Generosity                         True
2010                               True
2011                               True
2012                               True
2013                               True
2014                               True
2015                               True
2016                               True
2017                               True
2018                               True
Unnamed: 49                        True
MeanGini                           True
RankGini                           True
index                              True
Mean Crime Index                   True
Min Crime Index                    True
Max Crime Index                    True
RankCrime                          True
dtype: bool

# 2.2. Preprocess categorical attributes

In [65]:
# The following columns contain missing values and were deemed not interesting upon inspection. 
#  therefore, they are suitable for removal
remove_cols = ['2010', '2011', '2012', '2013', '2014', 
               '2015', '2016', '2017', '2018',
               'index', 'Unnamed: 49']

df_combined.drop(remove_cols, inplace=True, axis=1)
df_combined = df_combined.groupby("ISO").mean(numeric_only=True)

In [66]:
# Ensure all categorical attributes are now without NaN
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79 entries, ALB to ZWE
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Life expectancy                  79 non-null     float64
 1   Adult Mortality                  79 non-null     float64
 2   infant deaths                    79 non-null     float64
 3   percentage expenditure           79 non-null     float64
 4   Measles                          79 non-null     float64
 5   BMI                              79 non-null     float64
 6   under-five deaths                79 non-null     float64
 7   HIV/AIDS                         79 non-null     float64
 8   GDP                              79 non-null     float64
 9   Population                       79 non-null     float64
 10  thinness 1-19 years              79 non-null     float64
 11  thinness 5-9 years               79 non-null     float64
 12  Income composition of resources  79 non-null     float64
 13  Schooling                        79 non-null     float64
 14  Happiness Rank                   79 non-null     float64
 15  Happiness Score                  79 non-null     float64
 16  Factor economy                   79 non-null     float64
 17  Factor health                    79 non-null     float64
 18  Freedom                          79 non-null     float64
 19  Trust (Government Corruption)    79 non-null     float64
 20  Generosity                       79 non-null     float64
 21  MeanGini                         79 non-null     float64
 22  RankGini                         79 non-null     float64
 23  Mean Crime Index                 79 non-null     float64
 24  Min Crime Index                  79 non-null     float64
 25  Max Crime Index                  79 non-null     float64
 26  RankCrime                        79 non-null     float64
dtypes: float64(27)
memory usage: 17.3+ KB

In [67]:
# Provide explanations for high and low outliers
df_combined['outliers'] = ""
for column in df_combined.columns[:-1]:
    std = df_combined[column].std()
    mean = df_combined[column].mean()
    for i, j in df_combined[[column]].iterrows():
#         print(i, mean + 3*std, j[0])
        if j[0] > mean + 3*std:
            df_combined.loc[i, 'outliers'] += ' HIGH-' + str(column) + '/// '
        if j[0] < mean - 3*std:
            df_combined.loc[i, 'outliers'] += ' LOW-' + str(column) + '/// '
df_combined.replace("", None, inplace=True)

In [68]:
df_combined

,Life expectancy,Adult Mortality,infant deaths,percentage expenditure,Measles,BMI,under-five deaths,HIV/AIDS,GDP,Population,...,Freedom,Trust (Government Corruption),Generosity,MeanGini,RankGini,Mean Crime Index,Min Crime Index,Max Crime Index,RankCrime,outliers
ISO,,,,,,,,,,,,,,,,,,,,,
ALB,77.033333,71.833333,0.166667,352.654915,7.833333,56.150000,0.833333,0.100000,3687.311108,1.994727e+05,...,0.371898,0.043201,0.167887,29.000000,17.0,44.500000,44.50,44.50,62.0,None
ARG,75.933333,83.000000,8.666667,779.111083,3.833333,52.300000,9.833333,0.100000,10943.672712,3.601945e+07,...,0.481620,0.064308,0.092371,41.700000,91.0,66.273333,60.38,75.11,133.0,None
ARM,74.266667,105.666667,1.000000,222.418013,9.666667,53.000000,1.000000,0.100000,3106.361040,1.540915e+06,...,0.216029,0.038767,0.082394,31.200000,24.0,21.660000,21.66,21.66,9.0,None
AUS,82.366667,52.333333,1.000000,9013.544534,171.833333,65.250000,1.000000,0.100000,61393.171528,1.207137e+07,...,0.605043,0.314573,0.416078,35.250000,52.0,46.273750,22.31,73.51,73.0,HIGH-percentage expenditure/// HIGH-GDP///
AUT,84.000000,59.000000,0.000000,5335.781070,97.000000,56.383333,0.000000,0.100000,40276.874235,7.218683e+06,...,0.576929,0.214260,0.292400,30.566667,21.0,27.115000,26.85,27.38,18.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TUR,75.000000,65.666667,18.000000,283.243924,1463.166667,64.050000,21.166667,0.100000,6805.962352,5.151311e+07,...,0.257356,0.119122,0.081059,40.742857,83.0,32.010000,18.86,47.62,32.0,None
UKR,73.683333,112.833333,4.500000,217.119756,2370.500000,41.866667,5.166667,0.200000,2209.892903,8.464974e+06,...,0.168759,0.018386,0.200088,24.742857,1.0,47.742000,38.89,53.17,85.0,None
URY,76.733333,116.166667,0.000000,672.601221,0.000000,62.600000,0.333333,0.100000,12806.898540,2.835233e+06,...,0.574978,0.188516,0.169011,40.825000,85.0,54.810000,54.81,54.81,103.0,None
ZAF,61.666667,322.500000,42.666667,692.205844,2121.833333,41.616667,55.666667,6.483333,5814.538562,2.932266e+07,...,0.428229,0.071300,0.125730,63.200000,126.0,77.336667,71.32,81.98,148.0,HIGH-HIV/AIDS/// HIGH-MeanGini///
ZWE,58.016667,421.000000,25.500000,38.525125,1616.000000,21.583333,37.833333,9.516667,477.767978,8.114896e+06,...,0.323257,0.089997,0.169409,43.200000,96.0,60.350000,60.35,60.35,120.0,HIGH-Adult Mortality/// HIGH-HIV/AIDS///

In [69]:
df_combined.dropna(axis=0)

,Life expectancy,Adult Mortality,infant deaths,percentage expenditure,Measles,BMI,under-five deaths,HIV/AIDS,GDP,Population,...,Freedom,Trust (Government Corruption),Generosity,MeanGini,RankGini,Mean Crime Index,Min Crime Index,Max Crime Index,RankCrime,outliers
ISO,,,,,,,,,,,,,,,,,,,,,
AUS,82.366667,52.333333,1.000000,9013.544534,171.833333,65.250000,1.000000,0.100000,61393.171528,1.207137e+07,...,0.605043,0.314573,0.416078,35.250000,52.0,46.273750,22.31,73.51,73.0,HIGH-percentage expenditure/// HIGH-GDP///
BGD,72.350000,114.833333,108.166667,41.257422,1527.500000,16.733333,135.666667,0.100000,617.902826,5.997151e+07,...,0.478267,0.132448,0.178959,32.250000,31.0,63.660000,63.66,63.66,127.0,HIGH-thinness 1-19 years/// HIGH-thinness 5-...
CHE,82.866667,53.000000,0.000000,12996.624099,165.333333,56.400000,0.000000,0.100000,70817.144950,5.675358e+06,...,0.620642,0.379763,0.277432,32.200000,29.0,21.156667,17.26,26.61,6.0,HIGH-percentage expenditure/// HIGH-GDP///
CHN,75.516667,88.500000,193.333333,51.865439,29359.500000,21.466667,224.833333,0.100000,3626.450553,1.355283e+05,...,0.509576,0.056211,0.049449,40.950000,86.0,33.530000,31.86,36.41,38.0,HIGH-Measles///
IDN,68.600000,181.833333,126.333333,146.634801,15452.000000,25.150000,151.333333,0.300000,2937.690654,1.757517e+08,...,0.466161,0.012907,0.534853,38.925000,77.0,50.830000,48.36,53.30,91.0,HIGH-Population///
IND,67.400000,160.000000,1044.500000,56.917165,44588.666667,17.266667,1350.000000,0.200000,1482.155323,2.810998e+08,...,0.461539,0.088473,0.223714,35.700000,56.0,43.352400,25.07,59.83,59.0,HIGH-infant deaths/// HIGH-Measles/// HIGH-...
LUX,83.366667,58.000000,0.000000,8891.879440,1.333333,33.266667,0.000000,0.100000,63600.081350,2.161442e+05,...,0.583832,0.337421,0.245846,32.316667,32.0,30.150000,30.15,30.15,27.0,HIGH-percentage expenditure/// HIGH-GDP///
RWA,64.700000,165.833333,13.000000,16.982864,42.500000,13.833333,18.166667,0.933333,449.400219,4.554571e+06,...,0.581611,0.473468,0.226311,45.333333,104.0,24.160000,24.16,24.16,12.0,HIGH-Trust (Government Corruption)///
ZAF,61.666667,322.500000,42.666667,692.205844,2121.833333,41.616667,55.666667,6.483333,5814.538562,2.932266e+07,...,0.428229,0.071300,0.125730,63.200000,126.0,77.336667,71.32,81.98,148.0,HIGH-HIV/AIDS/// HIGH-MeanGini///
ZWE,58.016667,421.000000,25.500000,38.525125,1616.000000,21.583333,37.833333,9.516667,477.767978,8.114896e+06,...,0.323257,0.089997,0.169409,43.200000,96.0,60.350000,60.35,60.35,120.0,HIGH-Adult Mortality/// HIGH-HIV/AIDS///

In [70]:
# Save the final dataset
df_combined.to_csv("../datasets/all_data.csv")

## Knowledge graph

In [ ]:
import networkx as nx
from pyvis.network import Network
import rdflib
from rdflib import Graph, URIRef, Namespace

In [71]:
df_combined = pd.read_csv("../datasets/all_data.csv")

In [72]:
df_combined

,ISO,Life expectancy,Adult Mortality,infant deaths,percentage expenditure,Measles,BMI,under-five deaths,HIV/AIDS,GDP,...,Freedom,Trust (Government Corruption),Generosity,MeanGini,RankGini,Mean Crime Index,Min Crime Index,Max Crime Index,RankCrime,outliers
0,ALB,77.033333,71.833333,0.166667,352.654915,7.833333,56.150000,0.833333,0.100000,3687.311108,...,0.371898,0.043201,0.167887,29.000000,17.0,44.500000,44.50,44.50,62.0,NaN
1,ARG,75.933333,83.000000,8.666667,779.111083,3.833333,52.300000,9.833333,0.100000,10943.672712,...,0.481620,0.064308,0.092371,41.700000,91.0,66.273333,60.38,75.11,133.0,NaN
2,ARM,74.266667,105.666667,1.000000,222.418013,9.666667,53.000000,1.000000,0.100000,3106.361040,...,0.216029,0.038767,0.082394,31.200000,24.0,21.660000,21.66,21.66,9.0,NaN
3,AUS,82.366667,52.333333,1.000000,9013.544534,171.833333,65.250000,1.000000,0.100000,61393.171528,...,0.605043,0.314573,0.416078,35.250000,52.0,46.273750,22.31,73.51,73.0,HIGH-percentage expenditure/// HIGH-GDP///
4,AUT,84.000000,59.000000,0.000000,5335.781070,97.000000,56.383333,0.000000,0.100000,40276.874235,...,0.576929,0.214260,0.292400,30.566667,21.0,27.115000,26.85,27.38,18.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,TUR,75.000000,65.666667,18.000000,283.243924,1463.166667,64.050000,21.166667,0.100000,6805.962352,...,0.257356,0.119122,0.081059,40.742857,83.0,32.010000,18.86,47.62,32.0,NaN
75,UKR,73.683333,112.833333,4.500000,217.119756,2370.500000,41.866667,5.166667,0.200000,2209.892903,...,0.168759,0.018386,0.200088,24.742857,1.0,47.742000,38.89,53.17,85.0,NaN
76,URY,76.733333,116.166667,0.000000,672.601221,0.000000,62.600000,0.333333,0.100000,12806.898540,...,0.574978,0.188516,0.169011,40.825000,85.0,54.810000,54.81,54.81,103.0,NaN
77,ZAF,61.666667,322.500000,42.666667,692.205844,2121.833333,41.616667,55.666667,6.483333,5814.538562,...,0.428229,0.071300,0.125730,63.200000,126.0,77.336667,71.32,81.98,148.0,HIGH-HIV/AIDS/// HIGH-MeanGini///
78,ZWE,58.016667,421.000000,25.500000,38.525125,1616.000000,21.583333,37.833333,9.516667,477.767978,...,0.323257,0.089997,0.169409,43.200000,96.0,60.350000,60.35,60.35,120.0,HIGH-Adult Mortality/// HIGH-HIV/AIDS///

In [73]:
def get_merged(df,x1,x2,x3,x4):
    # Compute sum
    summ = x1 + x2 + x3 + x4

    # Load data
    df = df[['ISO','Mean Crime Index', 'Life expectancy', 'Happiness Score', 'MeanGini' ]]

    inv_iso_dict = {v: k for k, v in country_codes_dict.items()}

    # Drop missing values
    df = df.dropna()

    # Normalize
    features = ['Mean Crime Index', 'Life expectancy', 'Happiness Score', 'MeanGini']
    for feat in features:
        df[feat] = (df[feat] - df[feat].min()) / (df[feat].max()-df[feat].min())

    # Features
#     df.reset_index(inplace=True)
    df['Country'] = df['ISO'].apply(lambda x: inv_iso_dict[x])
    

    df['Aggregate Scores'] = (x1/summ)*(1-df['Mean Crime Index']) + (x2/summ)*df['Life expectancy']\
                             + (x3/summ)*df['Happiness Score'] + (x4/summ)*(1-df['MeanGini'])
    
    df = df.sort_values(by='Aggregate Scores')
    df['Rank'] = df['Aggregate Scores'].rank(ascending=False)
    return df.sort_values(by="Rank")

In [74]:
df_combined['ISO']

0     ALB
1     ARG
2     ARM
3     AUS
4     AUT
     ...
74    TUR
75    UKR
76    URY
77    ZAF
78    ZWE
Name: ISO, Length: 79, dtype: object

In [75]:
df = get_merged(df_combined, 100, 100, 100, 100)
df

,ISO,Mean Crime Index,Life expectancy,Happiness Score,MeanGini,Country,Aggregate Scores,Rank
39,ISL,0.031205,0.912445,0.991479,0.048291,Iceland,0.956107,1.0
26,FIN,0.110640,0.974984,0.998004,0.065193,Finland,0.949289,2.0
19,DNK,0.052138,0.886804,1.000000,0.082095,Denmark,0.938143,3.0
12,CHE,0.000000,0.932458,0.991576,0.193908,Switzerland,0.932532,4.0
56,NLD,0.101792,0.919950,0.965574,0.084695,Netherlands,0.924759,5.0
...,...,...,...,...,...,...,...,...
32,HND,1.000000,0.606004,0.438769,0.716893,Honduras,0.331970,75.0
78,ZWE,0.656358,0.000000,0.138287,0.479941,Zimbabwe,0.250497,76.0
10,BWA,0.577984,0.210131,0.095291,0.742571,Botswana,0.246217,77.0
55,NAM,0.795188,0.267667,0.272289,0.893388,Namibia,0.212845,78.0
77,ZAF,0.940828,0.136961,0.301066,1.000000,South Africa,0.124300,79.0

In [82]:
df_continent = pd.read_csv("../datasets/continents2.csv")
df_continent = df_continent[['alpha-3', 'sub-region', 'region']].rename(columns={'alpha-3': 'ISO'})
df_continent['global'] = "World"

df_merged = df.merge(df_continent, how='left', on='ISO')

dct1 = dict(df_merged['sub-region'].value_counts())
dct2 = dict(df_merged['region'].value_counts())
dct3 = dict(df_merged['global'].value_counts())
dct4 = dict(df_merged['Country'].value_counts())

dct1.update(dct2)
dct1.update(dct3)
dct1.update(dct4)

kg_df = pd.DataFrame(columns=["source", "target", "edge"])[["source", "target", "edge"]]
for idx, val in df_merged.iterrows():
    entry = pd.DataFrame(
        {"source": "World",
         "target": val['region'],
         "edge": "part of"}, index=[0])
    kg_df = pd.concat([kg_df, entry])

for idx, val in df_merged.iterrows():
    entry = pd.DataFrame(
        {"source": val['region'],
         "target": val['sub-region'],
         "edge": "part of"}, index=[0])
    kg_df = pd.concat([kg_df, entry])
    
for idx, val in df_merged.iterrows():
    entry = pd.DataFrame(
        {"source": val['sub-region'],
         "target": val['Country'],
         "edge": "contains"}, index=[0])
    kg_df = pd.concat([kg_df, entry])

for idx, val in df_merged.iterrows():
    entry = pd.DataFrame(
        {"source": val['Country'],
         "target": str(round(val['Mean Crime Index'],3)),
         "edge": "Crime"}, index=[0])
    kg_df = pd.concat([kg_df, entry])

for idx, val in df_merged.iterrows():
    entry = pd.DataFrame(
        {"source": val['Country'],
         "target": str(round(val['Happiness Score'],3)),
         "edge": "Happiness"}, index=[0])
    kg_df = pd.concat([kg_df, entry])
    
for idx, val in df_merged.iterrows():
    entry = pd.DataFrame(
        {"source": val['Country'],
         "target": str(round(val['Life expectancy'],3)),
         "edge": "Life"}, index=[0])
    kg_df = pd.concat([kg_df, entry])
    
for idx, val in df_merged.iterrows():
    entry = pd.DataFrame(
        {"source": val['Country'],
         "target": str(round(val['MeanGini'],3)),
         "edge": "Poverty"}, index=[0])
    kg_df = pd.concat([kg_df, entry])

kg_df.drop_duplicates(inplace=True)

G = nx.from_pandas_edgelist(kg_df, "source", "target",
                          edge_attr=True, create_using=nx.DiGraph())

ll = ['Crime', 'Life', 'Happiness', 'Poverty']

nt = Network('1920px', '1080px', directed=True, notebook=False, select_menu=False,
             filter_menu=False, )

for node in G:
#     if node == "Quality of Life":
#         color = "blue"
#         size = 20
#     elif node in ll:
#         color = "purple"
#         size = 15
    if node == "World":
        color = "yellow"
        size = 20
    elif node in df_merged['region'].unique():
        color = "orange"
        size = 15
    elif node in df_merged['sub-region'].unique():
        color = "red"
        size = 10

    elif node in df_merged['Country'].unique():
        color = "darkred"
        size = 10
    else:
        color = "black"
        size = 10
    nt.add_node(node, label=node, color=color, size=size)

for edge in G.edges:
    #     print(edge)
    label = kg_df[(kg_df['source'] == edge[0]) & (kg_df['target'] == edge[1])]['edge'][0]
    if label == "Life":
        color = 'green'
    elif label == "Happiness":
        color = 'violet'
    elif label == "Crime":
        color = 'blue'
    elif label == "Poverty":
        color = 'indigo'
    else:
        color = 'gray'
    nt.add_edge(edge[0], edge[1], color=color, width=1, \
                label=label)

# nt.show_buttons(filter_=['nodes'])

nt.show('kg.html')