In [7]:
import pandas as pd

# Preprocess datasets separately

In [143]:
# Import df_crime
df_crime = pd.read_csv("../datasets/world_crime_index.csv")

# Split the City column to a City and a Country column
df_crime[['City', 'Country']] = df_crime['City'].str.split(',', expand=True).drop(2, axis=1)
df_crime["Country"] = df_crime.Country.str.lstrip()

# Get the min, max and avg crime index by country
grouped_df_crime = df_crime.groupby('Country', as_index=False)['Crime Index'].agg(["mean", "min", "max"])
grouped_df_crime.rename(columns={"mean": 'Mean Crime Index', "min": 'Min Crime Index', "max": 'Max Crime Index'}, inplace=True)
grouped_df_crime['Rank'] = grouped_df_crime['Mean Crime Index'].rank()

grouped_df_crime.sort_values(by="Rank").reset_index().head()

,Country,Mean Crime Index,Min Crime Index,Max Crime Index,Rank
0,Qatar,13.960,13.96,13.96,1.0
1,United Arab Emirates,14.825,11.67,16.30,2.0
2,Taiwan,15.050,15.05,15.05,3.0
3,Oman,20.540,20.54,20.54,4.0
4,Bahrain,21.060,21.06,21.06,5.0

In [34]:
# Import df_life
df_life = pd.read_csv("../datasets/life_expectancy_data.csv")

df_life.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [58]:
# Import happiness
df_happ_2015 = pd.read_csv("../datasets/world_hapiness/2015.csv")
df_happ_2016 = pd.read_csv("../datasets/world_hapiness/2016.csv")
df_happ_2017 = pd.read_csv("../datasets/world_hapiness/2017.csv")
df_happ_2018 = pd.read_csv("../datasets/world_hapiness/2018.csv")
df_happ_2019 = pd.read_csv("../datasets/world_hapiness/2019.csv")

# Add year column
df_happ_2015["Year"] = 2015
df_happ_2016["Year"] = 2016
df_happ_2017["Year"] = 2017
df_happ_2018["Year"] = 2018
df_happ_2019["Year"] = 2019

# Rename the dataframes
df_happ_2017.rename(columns=
                    {    
                        "Happiness.Rank": "Happiness Rank",
                        "Happiness.Score": "Happiness Score",
                        "Whisker.high": "Upper Confidence Interval",
                        "Whisker.low": "Lower Confidence Interval",
                        "Economy..GDP.per.Capita.": "Economy (GDP per Capita)",
                        "Health..Life.Expectancy.": "Health (Life Expectancy)",
                        "Trust..Government.Corruption.": "Trust (Government Corruption)",
                        "Dystopia.Residual": "Dystopia Residual"
                    }, inplace=True)

df_happ_2018.rename(columns=
                    {
                        "Overall rank": "Happiness Rank",
                        "Country or region": "Country",
                        "Score": "Happiness Score",
                        "GDP per capita": "Economy (GDP per Capita)",
                        "Healthy life expectancy": "Health (Life Expectancy",
                        "Freedom to make life choices": "Freedom"
                    }, inplace=True)

df_happ_2019.rename(columns=
                    {
                        "Overall rank": "Happiness Rank",
                        "Country or region": "Country",
                        "Score": "Happiness Score",
                        "GDP per capita": "Economy (GDP per Capita)",
                        "Healthy life expectancy": "Health (Life Expectancy",
                        "Freedom to make life choices": "Freedom"
                    }, inplace=True)

# Vertically concatenate the dataframes
df_happ = pd.concat([df_happ_2015, df_happ_2016, df_happ_2017, df_happ_2018, df_happ_2019], ignore_index=True)
df_happ.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Lower Confidence Interval,Upper Confidence Interval,Social support,Health (Life Expectancy,Perceptions of corruption
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,NaN,NaN

In [67]:
# Import poverty statistics
df_povstats = pd.read_csv("../datasets/povstats/PovStatsCountry.csv")
df_povstats.rename(columns={"Short Name": "Country"}, inplace=True)
df_povstats.head()

,Country Code,Country,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2011",NaN,NaN,NaN,2016.0,NaN
1,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2016.0,NaN
2,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Demographic and Health Survey, 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2016.0,NaN
3,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,National Institute of Statistics and Census re...,Latin America & Caribbean,Upper middle income,AR,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2010,"Multiple Indicator Cluster Survey, 2011/12","Integrated household survey (IHS), 2016",Yes,2008,2002.0,2016.0,NaN
4,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,NaN,Europe & Central Asia,Lower middle income,AM,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2015",Yes,2014,NaN,2016.0,NaN

In [142]:
# pd.merge(df_life, df_happ, on='Country').merge(df_povstats, on='Country').Country.unique()
# df_crime.Country.str.lstrip().unique()
grouped_df_crime.reset_index().Country.unique()

array([' AB', ' AK', ' AZ', ' Afghanistan', ' Albania', ' Algeria',
       ' Angola', ' Argentina', ' Armenia', ' Australia', ' Austria',
       ' Azerbaijan', ' BC', ' Bahrain', ' Bangladesh', ' Belarus',
       ' Belgium', ' Bosnia And Herzegovina', ' Botswana', ' Brazil',
       ' Bulgaria', ' CA', ' CO', ' Cambodia', ' Canada', ' Chile',
       ' China', ' Colombia', ' Costa Rica', ' Croatia', ' Cuba',
       ' Cyprus', ' Czech Republic', ' DC', ' Denmark',
       ' Dominican Republic', ' Ecuador', ' Egypt', ' El Salvador',
       ' Estonia', ' Ethiopia', ' FL', ' Finland', ' France', ' GA',
       ' Georgia', ' Germany', ' Ghana', ' Greece', ' Guatemala', ' HI',
       ' Honduras', ' Hong Kong', ' Hungary', ' ID', ' IL', ' IN',
       ' Iceland', ' India', ' Indonesia', ' Iran', ' Iraq', ' Ireland',
       ' Israel', ' Italy', ' Jamaica', ' Japan', ' Jordan', ' KY',
       ' Kazakhstan', ' Kenya', ' Kuwait', ' LA', ' Latvia', ' Lebanon',
       ' Libya', ' Lithuania', ' Luxembourg', ' MA', ' MD', ' MI', ' MN',
       ' MO', ' Malaysia', ' Maldives', ' Mexico', ' Moldova',
       ' Mongolia', ' Montenegro', ' Morocco', ' NC', ' NE', ' NM', ' NV',
       ' NY', ' Namibia', ' Nepal', ' Netherlands', ' New Zealand',
       ' Newfoundland and Labrador', ' Nigeria', ' North Macedonia',
       ' Norway', ' OH', ' OR', ' Oman', ' PA', ' Pakistan', ' Panama',
       ' Papua New Guinea', ' Paraguay', ' Peru', ' Philippines',
       ' Poland', ' Portugal', ' Puerto Rico', ' Qatar', ' Romania',
       ' Russia', ' Rwanda', ' Saudi Arabia', ' Serbia', ' Singapore',
       ' Slovakia', ' Slovenia', ' South Africa', ' South Korea',
       ' Spain', ' Sri Lanka', ' Sweden', ' Switzerland', ' Syria', ' TN',
       ' TX', ' Taiwan', ' Tanzania', ' Thailand', ' Trinidad And Tobago',
       ' Tunisia', ' Turkey', ' UT', ' Ukraine', ' United Arab Emirates',
       ' United Kingdom', ' Uruguay', ' Uzbekistan', ' VA', ' Venezuela',
       ' Vietnam', ' WA', ' WI', ' Zimbabwe'], dtype=object)

In [128]:
df_crime = pd.read_csv("grouped_df_crime.csv", index_col=0)
df_crime, df_happ
# pd.merge(df_crime, df_happ, on='Country')

# pd.merge(grouped_df_crime.reset_index(), df_happ, on='Country')
# grouped_df_crime.reset_index()


# x=pd.merge(df_life, df_happ, on='Country').merge(df_povstats, on='Country')
# x.merge(grouped_df_crime, on="Country")

(                   Country  Mean Crime Index  Min Crime Index  \
 0                    Qatar         13.960000            13.96
 1     United Arab Emirates         14.825000            11.67
 2                   Taiwan         15.050000            15.05
 3                     Oman         20.540000            20.54
 4                  Bahrain         21.060000            21.06
 ..                     ...               ...              ...
 147           South Africa         77.336667            71.32
 148            Afghanistan         79.390000            79.39
 149       Papua New Guinea         80.710000            80.71
 150               Honduras         80.870000            80.87
 151              Venezuela         83.980000            83.98

      Max Crime Index   Rank
 0              13.96    1.0
 1              16.30    2.0
 2              15.05    3.0
 3              20.54    4.0
 4              21.06    5.0
 ..               ...    ...
 147            81.98  148.0
 148            79.39  149.0
 149            80.71  150.0
 150            80.87  151.0
 151            83.98  152.0

 [152 rows x 5 columns],
                       Country          Region  Happiness Rank  \
 0                 Switzerland  Western Europe               1
 1                     Iceland  Western Europe               2
 2                     Denmark  Western Europe               3
 3                      Norway  Western Europe               4
 4                      Canada   North America               5
 ..                        ...             ...             ...
 777                    Rwanda             NaN             152
 778                  Tanzania             NaN             153
 779               Afghanistan             NaN             154
 780  Central African Republic             NaN             155
 781               South Sudan             NaN             156

      Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
 0              7.587         0.03411                   1.39651  1.34951
 1              7.561         0.04884                   1.30232  1.40223
 2              7.527         0.03328                   1.32548  1.36058
 3              7.522         0.03880                   1.45900  1.33095
 4              7.427         0.03553                   1.32629  1.32261
 ..               ...             ...                       ...      ...
 777            3.334             NaN                   0.35900      NaN
 778            3.231             NaN                   0.47600      NaN
 779            3.203             NaN                   0.35000      NaN
 780            3.083             NaN                   0.02600      NaN
 781            2.853             NaN                   0.30600      NaN

      Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
 0                     0.94143  0.66557                        0.41978
 1                     0.94784  0.62877                        0.14145
 2                     0.87464  0.64938                        0.48357
 3                     0.88521  0.66973                        0.36503
 4                     0.90563  0.63297                        0.32957
 ..                        ...      ...                            ...
 777                       NaN  0.55500                            NaN
 778                       NaN  0.41700                            NaN
 779                       NaN  0.00000                            NaN
 780                       NaN  0.22500                            NaN
 781                       NaN  0.01000                            NaN

      Generosity  Dystopia Residual  Year  Lower Confidence Interval  \
 0       0.29678            2.51738  2015                        NaN
 1       0.43630            2.70201  2015                        NaN
 2       0.34139            2.49204  2015                        NaN
 3       0.34699            2.46531  2015                        NaN
 4       0.45811            2.45176  2015                        NaN
 ..          ...                ...   ...                        ...
 777     0.21700                NaN  2019                        NaN
 778     0.27600                NaN  2019                        NaN
 779     0.15800                NaN  2019                        NaN
 780     0.23500                NaN  2019                        NaN
 781     0.20200                NaN  2019                        NaN

      Upper Confidence Interval  Social support  Health (Life Expectancy  \
 0                          NaN             NaN                      NaN
 1                          NaN             NaN                      NaN
 2                          NaN             NaN                      NaN
 3                          NaN             NaN                      NaN
 4                          NaN             NaN                      NaN
 ..                         ...             ...                      ...
 777                        NaN           0.711                    0.614
 778                        NaN           0.885                    0.499
 779                        NaN           0.517                    0.361
 780                        NaN           0.000                    0.105
 781                        NaN           0.575                    0.295

      Perceptions of corruption
 0                          NaN
 1                          NaN
 2                          NaN
 3                          NaN
 4                          NaN
 ..                         ...
 777                      0.411
 778                      0.147
 779                      0.025
 780                      0.035
 781                      0.091

 [782 rows x 18 columns])

In [74]:
df_combined.head()

Empty DataFrame
Columns: [Mean Crime Index, Min Crime Index, Max Crime Index, Rank, Year_x, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling, Region_x, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual, Year_y, Lower Confidence Interval, Upper Confidence Interval, Social support, Health (Life Expectancy, Perceptions of corruption, Country Code, Country, Table Name, Long Name, 2-alpha code, Currency Unit, Special Notes, Region_y, Income Group, WB-2 code, National accounts base year, National accounts reference year, SNA price valuation, Lending category, Other groups, System of National Accounts, Alternative conversion factor, PPP survey year, Balance of Payments Manual in use, External debt Reporting status, System of trade, Government Accounting concept, IMF data dissemination standard, Latest population census, Latest household survey, Source of most recent Income and expenditure data, Vital registration complete, Latest agricultural census, Latest industrial data, Latest trade data, Unnamed: 30]
Index: []

[0 rows x 73 columns]

In [73]:
df_combined = pd.merge(grouped_df_crime, df_life, on='Country').merge(df_happ, on='Country').merge(df_povstats, on='Country')
df_combined = pd.merge(df_life, df_happ, on='Country').merge(df_povstats, on='Country').merge(grouped_df_crime)
df_combined.to_csv("../datasets/all_data.csv")